---
layout: default
---
<section class="previews">
  <div> 
    <div class="previews__container">
      <div class="profile__img home">
        <figure class="absolute-bg" style="background-image: url('{{ site.url }}/{{ site.profile_img }}');"></figure>
      </div>
      <h2>{{ site.subtitle }}</h2>
      <h1>{{ site.title }}</h1>
      <h2>
        <a class="science" href="{{ site.baseurl }}/science">Science</a> + 
        <a class="projects" href="{{ site.baseurl }}/projects">Projects</a> + 
        <a class="writing" href="{{ site.baseurl }}/writing">Writing</a>
      </h2>
      <p>{{ site.profile }}</p>
      <ul class="footer__social">
        {% for social in site.social %}
          <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
        {% endfor %}
      </ul>
      <a id="scroll_to_latest" class="fa fa-2x fa-angle-down"
        href="#latest"></a>
    </div>
  </div>
  <div>
    <div class="tab" id="latest">
      <ul itemscope itemtype="https://schema.org/Blog">
        {% for post in site.categories.science limit:1 %}
          <li class="preview science" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
            <a class="preview__link" href="{% if post.ext-link %}{{ post.ext-link }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" itemprop="url">
                <h1>LATEST SCIENCE</h1>
              <h2 class="preview__header" itemprop="name">{{ post.title }}</h2>
              <span class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</span>
              <p class="preview__excerpt" itemprop="description">{{ post.description | strip_html | truncatewords: 30 }}</p>
            </a>
          </li>
        {% endfor %}
        {% for post in site.categories.projects limit:1 %}
          <li class="preview projects" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
            <a class="preview__link" href="{% if post.ext-link %}{{ post.ext-link }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" itemprop="url">
              <h1>LATEST PROJECT</h1>
              <h2 class="preview__header" itemprop="name">{{ post.title }}</h2>
              <span class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</span>
              <p class="preview__excerpt" itemprop="description">{{ post.description | strip_html | truncatewords: 30 }}</p>
            </a>
          </li>
        {% endfor %}
        {% for post in site.categories.writing limit:1 %}
          <li class="preview writing" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
            <a class="preview__link" href="{% if post.ext-link %}{{ post.ext-link }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" itemprop="url">
              <h1>LATEST WRITING</h1>
              <h2 class="preview__header" itemprop="name">{{ post.title }}</h2>
              <span class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</span>
              <p class="preview__excerpt" itemprop="description">{{ post.description | strip_html | truncatewords: 30 }}</p>
            </a>
          </li>
        {% endfor %}
        
      </ul>
    </div>
    <footer>
      <p>Content, unless otherwise noted, is ©️ James Goldie {{ 'now' | date: "%Y" }}. Thanks to <a href="https://www.r-bloggers.com">R-Bloggers</a> for syndicating my rstats posts!</p>
    </footer>
  </div>

</section>
