.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-image:-webkit-linear-gradient(270deg, rgb(30, 48, 149) 0%, rgb(54, 153, 214) 100%);
    background-image: linear-gradient(180deg, rgb(30, 48, 149) 0%, rgb(54, 153, 214) 100%);
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    padding: 0px;
    min-width: 450px;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#Footer {
    float: left;
    height: 100px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    position: fixed;
    top: auto;
    left: 0%;
    right: auto;
    bottom: 0%;
    background-color: rgba(69, 48, 14, 0);
    background-image:url("img/footer-xtile2.gif");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 35%;
    background-repeat: repeat no-repeat;
}

body {
    padding: 0px;
}

#header {
    float: left;
    height: auto;
    clear: none;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    position: static;
    top: 0px;
    z-index: 0;
    padding-top: 50px;
    left: 0px;
}

#box {
    float: none;
    height: auto;
    clear: none;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

#text {
    float: left;
    font-size: 1.5em;
    width: 225px;
    height: auto;
    text-align: right;
    font-weight: 200;
    line-height: 2em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 88px;
    color: rgb(255, 255, 255);
    font-family: Sequi;
    text-transform: uppercase;
    margin-right: 0px;
    padding-right: 20px;
}

#text2 {
    float: left;
    font-size: 1.5em;
    width: 225px;
    height: auto;
    text-align: left;
    font-weight: 200;
    line-height: 2em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 88px;
    color: rgb(255, 255, 255);
    font-family: Sequi;
    text-transform: uppercase;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 0px;
}

#text1 {
    float: left;
    font-size: 5em;
    width: 350px;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: 1em;
    clear: none;
    min-height: 88px;
    font-family: Sequi;
    color: rgb(255, 255, 255);
    margin: 0px;
}

#shelf1 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    min-height: 50px;
    padding: 50px 20px 0px;
    margin-right: 0%;
}

#ColBox {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    min-width: 0px;
}

#MapA {
    float: right;
    height: 200px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 450px;
    min-height: 0px;
    margin-right: 10px;
    background-color: rgb(0, 0, 0);
    opacity: 0.25;
}

#BoxB {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 450px;
    min-height: 0px;
    margin-right: 0px;
    min-width: 0px;
}

#Heading_2 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.25em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    font-family: Sequi;
    min-width: 0px;
    padding-top: 0px;
}

#text3 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 200;
    line-height: 1.25em;
    margin: 0px;
    clear: both;
    min-height: 62px;
    min-width: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: open-sans;
    color: rgb(255, 255, 255);
}

#BoxACol {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 50%;
}

#BoxBCol {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 50%;
}

#shelf-footerpad {
    float: left;
    height: 100px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: 50px;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 0%;
}

#box1 {
    float: none;
    height: auto;
    clear: none;
    width: 450px;
    margin: 50px auto 0px;
    min-width: 0px;
    max-width: none;
}

#text5 {
    float: left;
    font-size: 1.5em;
    width: 200px;
    height: auto;
    text-align: right;
    font-weight: 200;
    line-height: 2em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 88px;
    color: rgb(255, 255, 255);
    font-family: Sequi;
    text-transform: uppercase;
    margin-right: 0px;
    padding: 0px;
    display: block;
    visibility: hidden;
}

#text6 {
    float: left;
    font-size: 1.5em;
    width: 50px;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: 1em;
    clear: none;
    min-height: 88px;
    font-family: Sequi;
    color: rgb(255, 255, 255);
    margin: 0px;
    visibility: hidden;
}

#text7 {
    float: left;
    font-size: 1.5em;
    width: 200px;
    height: auto;
    text-align: left;
    font-weight: 200;
    line-height: 2em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 88px;
    color: rgb(255, 255, 255);
    font-family: Sequi;
    text-transform: uppercase;
    margin-right: 0px;
    padding: 0px;
    display: block;
    visibility: hidden;
}

#shelf2 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: none;
    width: 100%;
    min-height: 50px;
    padding: 0px 20px;
    margin-right: 0%;
}

#ColBox1 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    min-width: 0px;
}

#BoxACol1 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 50%;
}

#MapB {
    float: right;
    height: 200px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 450px;
    min-height: 0px;
    margin-right: 10px;
    opacity: 0.25;
    background-color: rgb(0, 0, 0);
}

#BoxBCol1 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 50%;
}

#BoxB1 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 450px;
    min-height: 0px;
    margin-right: 0px;
    min-width: 0px;
}

#text4 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 200;
    line-height: 1.25em;
    margin: 0px;
    clear: none;
    min-height: 62px;
    min-width: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: open-sans;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 800px) {
    .primaryContainer {
        width: 100%;
    }

    #Footer {
        float: left;
        margin-left: 0px;
        margin-top: 0px;
        clear: none;
        width: 100%;
        position: fixed;
        top: auto;
        left: 0%;
        right: auto;
    }

    #header {
        width: 100%;
    }

    #text {
        height: 100%;
        display: none;
        margin-top: -50px;
        margin-left: 0%;
        clear: none;
    }

    #text2 {
        height: 100%;
        display: none;
    }

    #box {
        width: 100%;
        margin: 0px auto;
    }

    #text1 {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }

    #ColBox {
        width: 100%;
        min-width: 0px;
        margin-left: 0px;
    }

    #shelf1 {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 50px;
    }

    #MapA {
        clear: none;
        margin-left: 0px;
        margin-right: 0px;
        float: right;
        margin-top: 0px;
        width: 100%;
        padding-right: 0px;
    }

    #BoxB {
        clear: none;
        margin-left: 10px;
        margin-top: 0px;
        margin-right: 0px;
        float: left;
        width: 100%;
    }

    #BoxACol {
        width: 50%;
    }

    #BoxBCol {
        width: 50%;
    }

    #text5 {
        margin-top: 0px;
        margin-left: 0%;
        clear: none;
        visibility: visible;
    }

    #text6 {
        margin-left: 0%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    #text7 {
        margin-top: 0px;
        margin-left: 0%;
        clear: none;
        visibility: visible;
    }

    #shelf2 {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 0px;
    }

    #ColBox1 {
        width: 100%;
        min-width: 0px;
        margin-left: 0px;
    }

    #BoxACol1 {
        width: 50%;
    }

    #MapB {
        clear: none;
        margin-left: 0px;
        margin-right: 0px;
        float: right;
        width: 100%;
    }

    #BoxBCol1 {
        width: 50%;
    }

    #BoxB1 {
        clear: none;
        margin-left: 10px;
        margin-top: 0px;
        margin-right: 0px;
        float: left;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #BoxBCol {
        clear: both;
        width: 100%;
    }

    #BoxB {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        margin-top: 0px;
        width: 100%;
    }

    #BoxACol {
        width: 100%;
    }

    #MapA {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        width: 100%;
    }

    #Heading_2 {
        text-align: center;
        padding-top: 10px;
    }

    #text3 {
        text-align: center;
        padding-top: 10px;
    }

    #shelf-footerpad {
        margin-right: 0%;
        clear: both;
        height: 100px;
    }

    #shelf1 {
        margin-top: 0px;
        margin-left: 0%;
        clear: both;
        padding-top: 50px;
    }

    .primaryContainer {
        width: 100%;
    }

    #shelf2 {
        margin-top: 0px;
        margin-left: 0%;
        clear: both;
        padding-top: 50px;
    }

    #BoxACol1 {
        width: 100%;
    }

    #MapB {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        width: 100%;
    }

    #BoxBCol1 {
        clear: both;
        width: 100%;
    }

    #BoxB1 {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        margin-top: 0px;
        width: 100%;
    }

    #text4 {
        text-align: center;
        padding-top: 10px;
    }
}

