---
layout: default
title: Science
description: 
permalink: /science/
---
<section class="archives" itemscope itemtype="http://schema.org/Blog">
  <div>
    <div class="previews__container archive-category science">
      <a href="{{ site.baseurl }}/"><h2>rensa.co</h2></a>
      <h1>Science</h1>
      <a href="{{ site.baseurl }}/projects"><h2>Projects</h2></a>
      <a href="{{ site.baseurl }}/writing"><h2>Writing</h2></a>
      <p>I'm two years into a PhD on climate change and health. I'm interested in how we identify dangerously hot days.</p>
      <p>I mostly work with <a href="https://cran.r-project.org/">R</a> and <a href="https://www.gnu.org/software/bash/">bash</a>, with a bit of <a href="https://www.python.org/">Python</a>, <a href="https://code.zmaw.de/projects/cdo">cdo</a> and <a href="http://www.qgis.org/">QGIS</a> on the side.</p>
      <p>I move between <a href="http://anu.edu.au">ANU</a> in Canberra and <a href="http://unsw.edu.au">UNSW</a> in Sydney.</p>
      <ul class="footer__social">
        {% for social in site.social %}
          <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="section-padding archives__container science">
    {% for post in site.categories.science %}
      
      
      <article class="card science" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        <a class="card__link" href="{% if post.ext-link %}{{ post.ext-link }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" itemprop="url">
          <div class="card__img">
            {% if post.image-sm %}
              <figure class="absolute-bg wow" style="background-image: url('/assets/post-img/{{ post.image-sm }}');"></figure>
            {% else %}
              <figure class="absolute-bg wow" style="background-image: url('/assets/post-img/{{ post.image }}');"></figure>
            {% endif %}
          </div>
          <div class="card__container">
            <h2 class="card__header" itemprop="name">{{ post.title }}</h2>
            <p class="card__count" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">
              <em>{{ post.work-type }}: </em>{{ post.date | date: "%b %-d, %Y" }}
            </p>
          </div>
        </a>
      </article>
    {% endfor %}
  </div>
</section>
