---
layout: default
title: Science
description:
permalink: /science/
---
<section class="archives" itemscope itemtype="http://schema.org/Blog">
  <div>
    <div class="previews__container archive-category science">
      <a href="{{ site.baseurl }}/"><h2>{{ site.title }}</h2></a>
      <h1>Science</h1>
      <a href="{{ site.baseurl }}/projects"><h2>Projects</h2></a>
      <a href="{{ site.baseurl }}/writing"><h2>Writing</h2></a>
      <p>Learn more about my research and current role.</p>
      <ul class="footer__social">
        {% for social in site.social %}
          <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  
  <div>
    <div class="science_intro">
      <p>I'm a Knowledge Broker with the <a href="https://monash.edu/mcccrh">Monash Climate Change Communication Research Hub</a> and the <a href="https://climateextremes.org.au">ARC Centre of Excellence for Climate Extremes</a>! I play a few roles with these organisations:</p>
      <ul style="list-style-type:unset; padding-left: 2em;">
        <li>I advise communication specialists at the Hub on the latest climate science;</li>
        <li>I build networks among climate scientists, policymakers, private stakeholders and the public; and</li>
        <li>I build tools to help CLEX and the Hub work with data better, including the systems that enable the Hub to deliver broadcast-ready climate graphics across Australia.</li>
      </ul>
      <p>I'm based at Monash's Caulfield campus in Melbourne.</p>
    </div>
    <header>
      <ul class="tabs">
        <li class="tabs__item">Publications</li>
        <li class="tabs__item">Conferences</li>
      </ul>
    </header>

    <!-- tab 1: papers -->
    <div class="section-padding science papers tab">
      <ul>
        {% for post in site.categories.science %}
          {% if post.work-type == 'Paper' %}
            <li>
              <a href="{% if post.ref-doi %}http://dx.doi.org/{{ post.ref-doi }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}"><h2 class="card__header" itemprop="name">{{ post.ref-authors }} ({{ post.ref-year }}).</h2></a>
              <p class="card__count">{{ post.ref-title }}. <em>{{ post.ref-journal}}</em>{% if post.ref-vol %}, {{ post.ref-vol }}{% endif %}.{% if post.ref-doi %} <a href="http://dx.doi.org/{{ post.ref-doi }}">doi: {{ post.ref-doi }}</a>{% endif %}</p>
            </li>
          {% endif %}
        {% endfor %}
      <ul>
    </div>
    
    <!-- tab 2: conference presentations (slides and posters) -->
    <div class="section-padding archives__container science tab">
      {% for post in site.categories.science %}
        {% if post.work-type == 'Talk' or post.work-type == 'Poster' %}
          <article class="card science" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <a href="{% if post.ext-link %}{{ post.ext-link }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" itemprop="url">
              <div class="card__img">
                {% if post.image-sm %}
                  <figure class="absolute-bg wow" style="background-image: url('/assets/post-img/{{ post.image-sm }}');"></figure>
                {% else %}
                  <figure class="absolute-bg wow" style="background-image: url('/assets/post-img/{{ post.image }}');"></figure>
                {% endif %}
              </div>
              <div class="card__container">
                <h2 class="card__header" itemprop="name">{{ post.title }}</h2>
                <p class="card__count" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">
                  <em>{{ post.work-type }}: </em>{{ post.date | date: "%b %-d, %Y" }}
                </p>
              </div>
            </a>
          </article>
        {% endif %}
      {% endfor %}
    </div>

  </div>
</section>
