body
{
    margin: 0;
    padding: 0;
}

h1
{
    margin: 0;
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
    
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px rgba(0,0,0,0.1);
}

h2, #contact
{
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    
}

p, .boxout-text li
{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#intro-scene, #climate-scene, #video-scene, #data-scene, footer
{
    margin: 0;
    height: 100vh;
    width: 100%;
}

#intro-scene
{
    padding-top: 100px;
    background: linear-gradient(black 50%, #02296B), black;
    
}

#intro-scene h1
{
    text-transform:lowercase;
    text-align: center;
    color: #cccccc;
}

#intro-scene h2, #intro-scene p
{
    text-align: center;
    color: #cccccc;

}

.boxout-text
{
    vertical-align:top;
    overflow:hidden;
}

#climate-scene
{
    background: linear-gradient(#02296B 0, #1460E3 50%, #66B5FA 95%, #5E4D46 95%);
}

.boxout
{
    display:inline-block;
    text-align: left;
    overflow: hidden;
    
    padding: 20px;
    width: 50%;
    min-width: 425px;
    max-width: 500px;
    
    color: #cccccc;
    background-color: rgba(52,52,52,0.5);
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px,
        rgba(255,255,255,.025) 10px, rgba(255,255,255,.025) 20px);
}

#climate-scene .boxout, #video-scene .boxout
{
    position: relative;
    top: 10%;
    left: 10%;
}

#unsw-map-canvas
{
    background-color: #ff9900;
    width: 200px;
    height:300px;
    float: left;
    
    margin: 15px 20px 0 0;
}

#climate-scene h2           {margin: 0;}

#climate-scene a            {color: #ff9900;}

#climate-scene a:visited    {color: #ff0000;}

#video-scene
{
    background: linear-gradient(#5E4D46 60%, #DE551F 100%);
}

footer
{
    height:25vh;
    background: linear-gradient(#DE551F 0, #FFFCD6 60%, #FFFFFF 100%);
    margin: 0;
    padding: 20px;
}

footer h2
{
    margin: 0;
    font-size: 300%;
}

#contact {list-style-type: none;}

#contact li {margin-bottom: 10px;}

#contact a
{
    color: black;
    text-decoration: none;
}