<!-- Team Section -->
    <section id="social" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get in Touch</h2>
                    <h3 class="section-subheading text-muted">You can touch base with me on social media or shoot me an email at either <a href="mailto:j.goldie@unsw.edu.au">j.goldie@unsw.edu.au</a> or <a href="mailto:me@rensa.co">me@rensa.co</a>.</h3>
                </div>
            </div>
            <div class="row">
                <!-- {% for member in site.people %} -->
                <div class="col-md-4" style="padding-bottom: 75px;">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="" style="max-width:250px">
                        <h4>James Goldie</h4>
                        <p class="text-muted">PhD Candidate</p>
                        <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li style="padding-bottom: 10px;"><a href="{{ network.url }}"><i class="{{ network.title }}"></i></a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>What I Do</h4>
                    <p>By day, I'm a climate change researcher doing a PhD with the <a href="ccrc.unsw.edu.au">Climate Change Research Centre</a> at UNSW, Sydney. I work at the intersection of climate change and human health, looking for the best ways to identify dangerously hot days. <a href="{{ site.url }}/science">Find out more about the science I do.</a></p>
                    
                    <p>Outside office hours, I dip my toes in web development, game development, science communication and plenty of other fun stuff. You can have a look at some of my <a href="{{ site.url }}/projects">other projects</a> or <a href="{{ site.url }}/projects">my writing.</a>
                    
                    <p>You can touch base with me on social media or shoot me an email at either <a href="mailto:j.goldie@unsw.edu.au">j.goldie@unsw.edu.au</a> (to talk about science) or <a href="mailto:me@rensa.co">me@rensa.co</a> (for anything else).</p>
                </div>
                <!-- {% endfor %} -->
            </div>
        </div>
    </section>