 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            
                            <!-- all of these popups are posts. some are self-contained popups (ctaegory:popup); they don't link to an internal page. other categories are associated with full posts, so the oopup links to that and the description is used in place of the full post in the popup -->

                            <!-- post title and date -->
                            {% unless post.category == "popup" %}<a href="{{post.permalink}}" style="color:#333;text-decoration:none">{% endunless %}
                                <h3>{{ post.project-date }}</h3>
                                <h2>{{ post.title }}</h2>
                                <hr class="star-primary">
                            {% unless post.category == "popup" %}</a>{% endunless %}
                            
                            {% unless post.category == "popup" %}<a href="{{post.permalink}}">{% endunless %}
                                <!-- for some posts, I'm trying to embed a script in place of the preview image -->
                                {% if post.title == "Blogging" %}
                                <script async src="https://static.medium.com/embed.js"></script><a class="m-profile" href="https://medium.com/@rensa">James Goldie</a>
                                {% endif %}
                                {% unless post.title == "Blogging" %}
                                <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                                {% endunless %}
                            {% unless post.category == "popup" %}</a>{% endunless %}

                            <!-- use the post description here for the full posts, but use the actual content for the popup-only posts -->
                            {% if post.category == "popup" %}
                                <p>{{ post.content }}</p>
                            {% endif %}
                            {% unless post.category == "popup" %}
                                <p>{{ post.description }}</p>
                            {% endunless %}

                            
                            <!-- == if the post category is popup, there's no post to link to. otherwise, insert a link in the popup to the project -->
                            {% unless post.category == "popup" %}
                                <a href="{{ post.permalink }}"><p>You can find the project here.</p></a>
                            {% endunless %}

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
