<!-- Services Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">I'm doing a PhD with the <a href="ccrc.unsw.edu.au">Climate Change Research Centre</a> at UNSW, Sydney.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Climate & Health</h4>
                    <p class="text-muted">I investigate the roles temperature and humidity play in human heat stress. I'm trying to understand how Australia's health burden will be altered by climate change.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Analysis Skills</h4>
                    <p class="text-muted">I primarily work with climate observations, epidemiological data sets (such as hospital admissions) and population data. <a href="http://www.r-project.org/">R</a> and <a href="http://www.qgis.org/">QGIS</a> are my primary data analysis tools.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Coding Skills</h4>
                    <p class="text-muted">I keep sharp skills in R and bash and have some familiarity with Java, C++ and HTML5. Python and Swift are up next! I pop up on <a href="http://stackoverflow.com/users/3246758/rensa">Stack Overflow</a> sometimes.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4" id="research-location">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Based in Canberra</h4>
                    <p class="text-muted">I spend most of my time at the <a href="http://rses.anu.edu.au/research/groups/geophysical-fluid-dynamics">Geophysical Fluid Dynamics</a> lab at the Australian National University, with ocassional visits to CCRC back in Sydney. If you'd like to chat about research, climate change or other academic matters, feel free to hit me up at <a href="mailto:j.goldie@unsw.edu.au">j.goldie@unsw.edu.au</a>!</p>
                </div>
            </div>
        </div>
    </section>