<!-- Services Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">I'm doing a PhD with the <a href="ccrc.unsw.edu.au">Climate Change Research Centre</a> at UNSW, Sydney.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Climate & Health</h4>
                    <p class="text-muted">I work at the intersection of climate change and human health, looking for the best ways to identify dangerously hot days.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Analysis Skills</h4>
                    <p class="text-muted">I commonly work with weather observations, epidemiological data sets (like hospital admissions) and population data. <a href="http://www.r-project.org/">R</a> and <a href="http://www.qgis.org/">QGIS</a> are my analysis tools of choice.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Coding Skills</h4>
                    <p class="text-muted">I keep sharp skills in R and bash, with a bit of Python literacy here and there. I play around with Node and JavaScript in the browser too! I pop up on <a href="http://stackoverflow.com/users/3246758/rensa">Stack Overflow</a> sometimes.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Based in Canberra</h4>
                    <p class="text-muted">I mostly work from ANU's <a href="http://rses.anu.edu.au/research/groups/geophysical-fluid-dynamics">Geophysical Fluid Dynamics</a> lab, but I also visit Sydney often. You can say hello on social media or email me at <a href="mailto:j.goldie@unsw.edu.au">j.goldie@unsw.edu.au</a>!</p>
                </div>
            </div>
        </div>
    </section>