/*!
 * 
 */

/* override boostrap ode block formatting */
code,kbd,pre,samp
/*{
    /* font-family: Menlo,Monaco,Consolas,"Courier New",monospace */
    font-size: 12px;
}*/

/*figure
{
    margin-top: 25px;
    margin-bottom: 25px;
}

figure figcaption
{
    color: #777;
    font-size: 12pt;
    margin-top: 10px;
}*/