body
{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 40px; 
    background: radial-background(rgba(128, 45, 93, 0.5),
        rgba(189, 68, 138, 0.5));
    backround: -webkit-radial-gradient(rgba(128, 45, 93, 0.5),
        rgba(189, 68, 138, 0.5));
    background: url("diablo-bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

#text
{
    position: fixed;
    left: 40px;
    bottom: 40px;
    padding: 0;
    margin: 0;
    font-family: "Merienda One", serif;
    color: rgba(240, 50, 180, 1);
}