<!DOCTYPE html>
<html>

  {% include head.html %}

	<body id="page-top" class="index">

	{% include static-header.html %}

	<section id="regpage">
		
		<div class="row">
			<h1 style="text-align: center; margin-bottom: 50px;">{{ page.title }}</h2>
		</div>
		{% for post in site.categories['projects'] %}
		<div id="regpage-info" class="row">
				
			<h3>{{ post.project-date }}</h3>
			<a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
			<h3 class= "section-subheading text-muted">{{ post.description }}</h3>
		<hr />
		</div>
		{% endfor %}
		<div id="regpage-content" class="row">
			{{ content }}
		</div>
	</section>

	{% include footer.html %}
	{% include js-static-header.html %}

    </body>
</html>