<!DOCTYPE html>
<html>

  {% include head.html %}

	<body id="page-top" class="index">

	{% include static-header.html %}

	{% include research.html %}
	<section id="regpage" class="bg-light-gray" style="padding-top: 60px;">
		
		<div class="row">
			<h1 class="text-center" style="margin-bottom: 50px;">My published work</h2>
            <!-- post category toggles -->
            <div class="text-center" style="display: none; ">
                <div class="btn-group" data-toggle="buttons" role="group" aria-label="..." style="margin-bottom: 50px;">
                    <button type="button" class="btn btn-primary">Papers</button>
                    <button type="button" class="btn btn-primary">Posters</button>
                    <button type="button" class="btn btn-primary">Presentations</button>
                </div>
            </div>
		</div>
		
        <!-- create post entries for each post, but hide them by default! -->
        {% for post in site.categories['science'] %}
		<div id="regpage-info" class="row work-type-{{ post.work-type }}">
			<!-- insert icon depending on type of work -->
			{% if post.work-type == 'paper' %}	
			<i class="fa fa-file-text-o fa-3x"></i>
			{% elsif post.work-type == 'poster' %}
			<i class="fa fa-image fa-3x"></i>
			{% elsif post.work-type == 'presentation' %}
			<i class="fa fa-film fa-3x"></i>
			{% endif %}
			
			<h3>{{ post.project-date }}</h3>
			<a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
			<!-- if it's a paper, insert a reference. if not, insert the description -->
			{% if post.work-type == 'paper' %}
			<h3 class="section-subheading text-muted">{{ post.ref-authors }} ({{ post.ref-year }}). {{ post.ref-title }}. {{ post.ref-journal }}{% if post.ref-vol %} {{ post.ref-vol }}{% endif %}. {% if post.ref-doi %}doi:{{ post.ref-doi }}{% endif %}</h3>
			{% else %}
			<h3 class= "section-subheading text-muted">{{ post.description }}</h3>
			{% endif %}
		<hr />
		</div>
		{% endfor %}
		<div id="regpage-content" class="row">
			{{ content }}
		</div>
	</section>

	{% include footer.html %}
	{% include js-static-header.html %}
    <script src="{{ "/js/archive-science.js" | prepend: site.baseurl }}"></script>

    </body>
</html>