<!DOCTYPE html>
<html>

  {% include head.html %}

	<body id="page-top" class="index">

	{% include static-header.html %}

	<section id="regpage">
		<div id="regpage-info" class="row">
				<div class="share-page text-muted">
				    {% include social-intents.html %}
				</div>
			<h3>{{ page.project-date }}</h3>
			<h2>{{ page.title }}</h2>
			{% if page.work-type == 'paper' %}
			<h3 class="section-subheading text-muted">{{ page.ref-authors }} ({{ page.ref-year }}). {{ page.ref-title }}. {{ page.ref-journal }}{% if page.ref-vol %} {{ page.ref-vol }}{% endif %}. {% if page.ref-doi %}doi:{{ page.ref-doi }}{% endif %}</h3>
			{% else %}
			<h3 class= "section-subheading text-muted">{{ page.description }}</h3>
			{% endif %}
		</div>
		<hr />
		<div id="regpage-content" class="row">
			{{ content }}
		</div>
		<hr />
		<div class="share-page text-muted">
		    <p>Share this page on</p>
		    {% include social-intents.html %}
		</div>
	</section>

	{% include footer.html %}
	{% include js-static-header.html %}
	
    {% if page.title == "What Do They Know?" %}
	<script src="{{ "/js/jquery-sortable.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/what-do-they-know.js" | prepend: site.baseurl }}"></script>
	{% endif %}

    </body>
</html>