<!DOCTYPE html>
<html>

  {% include head.html %}

	<body id="page-top" class="index">

	{% include static-header.html %}

	<section id="regpage">
		<div id="regpage-info" class="row">
				<div class="share-page text-muted">
				    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="fa fa-twitter" style="color:#00aced;"></a>
				    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="fa fa-facebook" style="color:#3b5998;"></a>
				    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+" class="fa fa-google-plus" style="color:#dd4b39;"></a>
				    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={articleSource}" rel="nofollow" target="_blank" title="Share on LinkedIn" class="fa fa-linkedin" style="color:#007bb6;"></a>
				    <a href="https://www.facebook.com/dialog/share?app_id=1583566641860122&display=popup&href={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="fa fa-facebook" style="color:#3b5998;"></a>
				</div>
			<h3>{{ page.project-date }}</h3>
			<h2>{{ page.title }}</h2>
			<h3 class= "section-subheading text-muted">{{ page.description }}</h3>
		</div>
		<hr />
		<div id="regpage-content" class="row">
			{{ content }}
		</div>
		<div class="share-page text-muted">
		    <p>Share this page on</p>
		    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="fa fa-twitter" style="color:#00aced;"></a>
		    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="fa fa-facebook" style="color:#3b5998;"></a>
		    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+" class="fa fa-google-plus" style="color:#dd4b39;"></a>
		    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={articleSource}" rel="nofollow" target="_blank" title="Share on LinkedIn" class="fa fa-linkedin" style="color:#007bb6;"></a>
		</div>
	</section>

	{% include footer.html %}
	{% include js-static-header.html %}
	
    {% if page.title == "What Do They Know?" %}
	<script src="{{ "/js/jquery-sortable.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/what-do-they-know.js" | prepend: site.baseurl }}"></script>
	{% endif %}

    </body>
</html>